.gradient-layer {
  background: linear-gradient(-45deg, #f6f209, #f11515, #206fc4, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 200vh;
  width: 100%;


}

.holo-layer {
  background: url('../../Images/Holo.png');
  height: 200vh;
  width: 100%;

}

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2;
  width: 100%;
}

.logo-container img{
  width: 85%;
  margin-top: -60px;
}

.youtube-card {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../Images/fadedwhite.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  margin-top: -70%;

  
}

.youtube-vid{
  width: 80%;
  align-self: center;
  margin-top: 80%;
}

.white{
  height: 100vw;
  width: 100vw;
  background-color: white;
  margin-top: -14%;
}

@media only screen and (min-width: 1200px) {
  .gradient-layer {
    height: 200vh;
  }
  
  .holo-layer {
    height: 200vh;
  }

}

@media only screen and (min-width: 851px) and (max-width: 1199px) {
  .logo-container img{
    width: 100%;
    margin-top: 0px;
  }
  .holo-layer {
    height: 120vh;
  }
  .gradient-layer {
    height: 120vh;
  }
  .youtube-vid {
    margin-top: 100%;
    width: 100%;
    margin-left: -20px;
    
  }
}

@media only screen and (max-width: 850px) {
  .logo-container img{
    width: 100%;
    margin-top: 0px;
  }
  .holo-layer {
    height: 90vh;
  }
  .gradient-layer {
    height: 90vh;
  }
  .youtube-vid {
    margin-top: 80%;
    width: 100%;
    margin-left: -20px;
    
  }
 
}

@media only screen and (max-width: 750px) {
  .logo-container img{
    width: 110%;
    margin-top: 0px;
  }
  .holo-layer {
    height: 90vh;
  }
  .gradient-layer {
    height: 90vh;
  }
  .youtube-vid {
    margin-top: 60%;
    width: 100%;
    margin-left: -20px;
    
  }
 
}

@media only screen and (max-width: 650px) {
  .logo-container img{
    width: 120%;
    margin-top: 0px;
  }
  .holo-layer {
    height: 90vh;
  }
  .gradient-layer {
    height: 90vh;
  }
  .youtube-vid {
    margin-top: 40%;
    width: 100%;
    margin-left: -20px;
    
  }
 
}

@media only screen and (max-width: 550px) {
  .logo-container img{
    width: 125%;
    margin-top: 100px;
  }
  .holo-layer {
    height: 90vh;
  }
  .gradient-layer {
    height: 90vh;
  }
  .youtube-vid {
    margin-top: 20%;
    width: 100%;
    margin-left: -20px;
    
  }
 
}
@media only screen and (max-width: 450px) {
  .logo-container img{
    width: 125%;
    margin-top: 100px;
  }
  .holo-layer {
    height: 90vh;
  }
  .gradient-layer {
    height: 90vh;
  }
  .youtube-vid {
    margin-top: -30%;
    width: 100%;
    margin-left: -20px;
    
  }
 
}