.store-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.store-items-ea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
   
}